.row
  .text-center
    %h1 Listing Task Status

    %table
      %tr
        %th Processing date
        %th Open
        %th In progress
        %th Resolved
        %th Closed
        %th Total
        %th
        %th
        %th

      - @task_stats.each do |task_stat|
        %tr
          %td= task_stat.processing_date
          %td= task_stat.open
          %td= task_stat.in_progress
          %td= task_stat.resolved
          %td= task_stat.closed
          %td= task_stat.total
          %td= link_to 'Show', task_stat, class: 'label'
          %td= link_to 'Edit', edit_task_stat_path(task_stat), class: 'label success'
          %td= link_to 'Destroy', task_stat, class: 'label alert', :method => :delete, :data => { :confirm => 'Are you sure?' }

  %div
    .text-center
      %h1 Line Chart
    %canvas{ id: "lineChart", width: "800",  height: "400" }

  %div
    .text-center
      %h1 Pie Chart
    %canvas{ id: "pieChart", width: "800",  height: "400" }

    %table
      %tr
        %td{ class: 'status_open' }
        %td OPEN
      %tr
        %td{ class: 'status_in_progress' }
        %td IN PROGRESS
      %tr
        %td{ class: 'status_resolved' }
        %td RESOLVED
