%script hljs.initHighlightingOnLoad();
.row
  .text-center.area
    %h1 Listing Task Status

  = form_for @search, url: task_stats_path, method: :get do |f|
    %fieldset
      %legend Search
      .row
        .field.date-select.large-3.columns
          = f.label :date_from
          = f.text_field :date_from, use_short_month: true
        .field.date-select.large-3.columns
          = f.label :date_to
          = f.text_field :date_to, use_short_month: true
        .field.date-select.large-3.columns

      = f.submit 'search', class: 'button small'
      = link_to 'clear', task_stats_path, class: 'button secondary small'

  .text-center.area
    %h1 Spreadsheet

    #spreadsheet
      %table{ class: 'transposed' }
        - @transposed.each do |arr|
          %tr
            - arr.each do |item|
              %td= item

  %div
    .text-center.area
      %h1 Line Chart
    %canvas{ id: "lineChart", width: "800",  height: "400" }

  %div
    .text-center.area
      %h1 Pie Chart
    .row
      .large-10.columns
        %canvas{ id: "pieChart", width: "800",  height: "400" }

      .large-2.columns
        %div{ class: 'pie-legend' }
          %table
            %tr
              %td{ class: 'status_open' }
              %td OPEN
            %tr
              %td{ class: 'status_in_progress' }
              %td IN PROGRESS
            %tr
              %td{ class: 'status_resolved' }
              %td RESOLVED
